@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
    box-sizing: border-box;
}

body {
    background-color: #101820FF;
    color: #fff;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
    min-height: 100vh;
}

.filter-container {
    margin-top: 20px;
    width: 80vh;
    max-width: 800px;
}

.filter {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    font-size: 16px;
    border: 1px solid rgba(200, 200, 200, .1);
}

.post {
    background-color: #006B38FF;
    position: relative;
    border-radius: 5px;
    padding: 7px 5px;
    margin: 40px 0;
    display: flex;
    box-shadow: 0 2px 4px rgba(300, 300, 300, .4);
    width: 80vh;
    max-width: 800px;
}

.post .post-body {
    margin: 15px 0 0;
    line-height: 1.3;
}

.post .post-title {
    margin: 0;
}

.post .post-info {
    /* position: relative; */
    margin-left: 20px;
}

.post h2 {
    margin: 0;
    padding-left: 5px;
}

.post .number {
    position: absolute;
    color: #101820FF;
    font-size: 15px;
    top: -15px;
    left: -15px;
    width: 40px;
    height: 40px;
    padding: 10px 16px;
    background-color: #fff;
    border-radius: 50%;
}

.loader {
    opacity: 0;
    display: flex;
    margin-top: 30px;
    transition: opacity 0.3s ease-in;
}

.loader.show {
    opacity: 1;
}

.loader .circle {
    background-color: #fff;
    display: block;
    color: #fff;
    width: 10px;
    height: 10px;
    margin: 5px;
    border-radius: 50%;
    border: none;
    animation: bounce .7s ease-in infinite;
}

.circle:nth-of-type(2) {
    animation-delay: .1s;
}

.circle:nth-of-type(3) {
    animation-delay: .2s;
}

@keyframes bounce {
    100% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }
}